/******************************/
         /* IMPORTS */
/******************************/


/********** FONTS **********/

/* Red Hat Display */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


/******************************/
        /* VARIABLES */
/******************************/

:root {


  /********** FONT SIZE **********/

  --f-size: 16px;


  /********** FONT FAMILY **********/

  --red-hat-display: 'Red Hat Display', sans-serif;


  /********** FONT WEIGHTS **********/

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;


  /********** COLORS **********/

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  
  /********** DISPLAY SIZE **********/

  --mobile: 375px;
  --desktop: 1440px;


  /* * * * TEST BORDER * * * */

  --test-border: 1px solid red;



}



/******************************/
           /* STYLES */
/******************************/


/********** GLOBAL **********/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Body */

body {
  font-size: var(--f-size);
  font-family: var(--red-hat-display);
  background-color: var(--pale-blue);
  background-image: url('../images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  position: relative;
}

/********** STYLES **********/

/* Main Container */

.main-container {
  width: 20.4375rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

/* Main Content Container */


.content-container {
  width: 20.4375rem;
  height: 35.4375rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}


/* Hero Image */

.hero-image {
  border-radius: 20px 20px 0 0;
  height: 10rem;
}


/* H1 Main Headline */

.main-headline {
  color: var(--dark-blue);
  font-weight: var(--fw-black);
  font-size: 1.375rem;
  line-height: 1.819375rem;
  text-align: center;
  margin: 2rem 2rem 1rem 2rem;
}


/* Main Copy */

.main-copy {
  color: var(--desaturated-blue);
  font-weight: var(--fw-medium);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  margin: 0 2rem 0 2rem;
}


/********** PAYMENT SECTION **********/

/* Payment Section Main Container */

.payment-section {
  width: 17.4375rem;
  height: 5.0625rem;
  margin: 1.5rem;
  background-color: var(--very-pale-blue);
  border-radius: 0.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Payment Section Container */

.payment-section-content-container {
  width: 15.4375rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Music Icon */

.music-icon {
  height: 3rem;
  width: 3rem;
}


/* Payment Section Copy Container */

.payment-section-copy-container {
  margin-left: -1.25rem;
}

/* Annual Plan Copy */

.annual-plan-copy {
  color: var(--dark-blue);
  font-weight: var(--fw-black);
  font-size: 0.875rem;
  line-height: 1.1575rem;
  margin: 0;
}


/* Plan Price Copy */

.plan-price-copy {
  color: var(--desaturated-blue);
  font-weight: var(--fw-medium);
  font-size: 0.875rem;
  line-height: 1.1575rem;
  margin: 0.1875rem 0 0 0;
}

/* Change Button */

.change-btn {
  color: var(--bright-blue);
  font-weight: var(--fw-bold);
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  text-decoration: underline;
}


/********** BUTTONS **********/


/* Payment Button */

.payment-btn {
  width: 17.4375rem;
  height: 3.125rem;
  border: none;
  padding: 0;
  margin: 0 1.5rem 1.5rem 1.5rem;
  background-color: var(--bright-blue);
  color: #FFF;
  font-weight: var(--fw-black);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  border-radius: 0.6875rem;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}


/* Cancel Button */

.cancel-btn {
  text-align: center;
  color: var(--desaturated-blue);
  font-weight: var(--fw-black);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;
}


/********** FOOTER **********/

.footer {
  font-size: 0.6875rem;
  font-weight: var(--fw-medium);
  text-align: center;
  position: absolute;
  bottom: 0.875rem;
}


/* Footer Links */

.footer-link {
  color: var(--bright-blue);
}



/******************************/
        /* BREAKPOINTS */
/******************************/


/* DESKTOP */
/* Design is for 375px on mobile devices. */
/* Set breakpoint at 415px to account for Pixel2 and iPhone Plus. */

@media screen and (min-width: 415px) {
  

 /* Body */

 body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-size: contain;
 }


 /* Main Container */

 .main-container {
   width: 28.125rem;
   height: 43.5265rem;
 }


 /* Content Container */

 .content-container {
   width: 28.125rem;
   height: 43.5625rem;
   align-items: center;
 }

 
 /* Hero Image */

 .hero-image {
   width: 28.125rem;
   height: auto;
 }


 /* Main Headline */

 .main-headline {
   font-size: 1.75rem;
   line-height: 2.315rem;
   margin: 2.8125rem 3rem 1.0625rem 3rem;
 }


 /* Main Copy */

 .main-copy {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-left: 3rem;
  margin-right: 3rem;
 }


/* Payment Section Main Container */

.payment-section {
  width: 22.125rem;
  height: 6.125rem;
  margin: 1.25rem 3rem 2rem 3rem;
}


/* Payment Section Content Container */

.payment-section-content-container {
  width: 19.125rem;
}


/* Payment Section Copy Container */

.payment-section-copy-container {
  margin-left: -4.6875rem;
}


/* Annual Plan Copy */
/* Plan Price Copy */

.annual-plan-copy,
.plan-price-copy {
  font-size: 1rem;
  line-height: 1.323125rem;
}

/* Change Button */

.change-btn {
  font-size: 0.875rem;
  line-height: 1.1575rem;
}


/* Payment Button */

.payment-btn {
  width: 22.125rem;
  margin: 0 3rem 2rem 3rem;
}






}